{% extends "blank.html" %}
{% set title='Add secret'%}

{% block body_start%}
<body id="page-top">
{% endblock %}

{% macro get_error(field) %}
    {% if field.errors %}
        {% for error in field.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block content %}
                    <h3 class="text-dark mb-2">Adding secret</h3>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert alert-{{ messages[0][0]}}" role="alert">
                            <center>
                                {{ messages[0][1]}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </center>
                        </div>
                    {% endif %}
                    {% endwith%}
                    <form class="needs-validation" method="POST">
                        {{ form.csrf_token }}
                        <div class="row  mb-3">
                            <div class="col-auto">
                                {{ form.path.label(class="col-form-label") }}
                            </div>
                            <div class="col">
                                {{ form.path(class="form-control" + (" is-invalid" if form.path.errors else "")) }}
                                {{ get_error(form.path) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-auto">
                                {{ form.secret_value.label(class="col-form-label") }}
                            </div>
                            <div class="col">
                                {{ form.secret_value(class="form-control" + (" is-invalid" if form.secret_value.errors else ""), type="password") }}
                                {{ get_error(form.secret_value) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form.submit(class="btn btn-primary") }}</div>
                            <div class="col"><button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for('kv_access_web.list_secret') }}'">Back</button></div>
                        </div>
                    </form>
{% endblock %}