{% extends "blank.html" %}

{% set title='View secret'%}

{% block body_start%}
<body id="page-top">
{% endblock %}

{% block content %}
                    <h3 class="text-dark mb-1">Viewing secret: {{path}}</h3>
                    <table class="table my-0 mb-3" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Path</th>
                                            <th>Secret value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{path}}</td>
                                            <td>{{secret}}</td>
                                        </tr>
                    </table>
                <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for('kv_access_web.list_secret') }}'">Back</button>
{% endblock %}
            