{% extends "empty.html" %}
{% set title = "Login" %}

{% block body_start%}
<body class="bg-gradient-primary">
{%endblock%}

{% block body_content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg my-5 o-hidden border-0">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;{{url_for('static', filename='assets/img/dogs/image3.jpeg')}}?h=cbc3a40dae521ddee89bf6b026abde71&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                                    </div>
                                    <form class="user" method="POST">
                                        {{form.hidden_tag()}}
                                        <div class="mb-3">
                                            <!-- <input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email">-->
                                            {{ form.email(class="form-control form-control-user", placeholder="Enter Email Address...") }}
                                        </div>
                                        <div class="mb-3">
                                            <!--<input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password">-->
                                            {{ form.password(class="form-control form-control-user", placeholder="Password") }}
                                        </div>
                                        
                                        <div class="mb-3">
                                            <div class="custom-checkbox small">
                                                <div class="form-check">
                                                    {{form.remember_me(class="form-check-input")}}
                                                    {{form.remember_me.label(class="form-check-label")}}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <button class="btn btn-primary d-block w-100 btn-user" type="submit">Login</button>-->
                                        {{ form.submit(class="btn btn-primary d-block w-100 btn-user") }}
                                        <hr>
                                        <!--
                                        <a class="btn btn-primary d-block w-100 mb-2 btn-google btn-user" role="button">
                                            <i class="fab fa-google"></i>&nbsp; Login with Google</a>
                                            <a class="btn btn-primary d-block w-100 btn-facebook btn-user" role="button">
                                                <i class="fab fa-facebook-f"></i>&nbsp; Login with Facebook</a>
                                        <hr>
                                        -->
                                    </form>
                                    <div class="text-center"><a class="small" href="#">Forgot Password?</a></div>
                                    <div class="text-center"><a class="small" href="{{url_for("auth.register")}}">Create an Account!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
{% block body_end%}
</body>
{%endblock%}